<%- include("partials/header") %>

<h1>
	This Is The Landing Page!
</h1>

<!-- <h2>
	Welcome To Yelp Camp!
</h2> -->

<!-- <a href="/campgrounds">Go To The Campgrounds!</a>
<a href="/campgrounds/new">Submit A New Campground!</a> -->

<%- include("partials/footer") %>