<h1>
	This is the secret page!
</h1>

<p>
	You Found Me.
</p>

<img src="https://cdn.pixabay.com/photo/2020/01/15/07/14/mountain-climbing-4767088__340.jpg">

<li><a href="/register">Sign Up Here!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>