<%- include("partials/header") %>
<link rel="stylesheet" href="app.css">
<h1>
	This Is A Home Page!
</h1>

<img src="https://www.petguide.com/wp-content/uploads/2014/02/Pomsky-main.jpg">
<%- include("partials/footer") %>