<% layout('layouts/boilerplate.ejs')%>

<div class="container">
	<header class ="jumbotron">
		<div class="container">
			<h1>
			Welcome To YelpCamp.
			</h1>
			<p>
				View some of our hand-picked campgrounds
			</p>
			<p>
				<a class="btn btn-primary btn-md" href="/campgrounds/new">Submit A New Campground!</a>
			</p>
		</div>
	</header>
<div class="card mb-3">
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% for (let campground of campgrounds){%>
			<div class="col-md-4 col-sm-6">
				<img class="img-fluid" src="<%=campground.image%>">
				<div class="col-md-8">
					<div class="card-body">
					<h4 class="card-title"><%=campground.name%></h4>
					<p class="card-text">Camp Desc.</p>
					<p class="card-text">
						<small class="text-muted">Camp Loc.</small>
						</p>
					</div>
						<a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More Info</a>
				</div>
			</div>
		<% } %>
	</div>		
</div>
		
</div>
